@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




/* font-style */

.title-1-white {
  @apply text-base text-white font-extralight
}

.title-2-white {
  @apply text-base text-white font-extralight
}

.title-3-white {
  @apply text-base text-white font-extralight
}

.title-4-white {
  @apply text-base text-white font-extralight
}

.li-white ul li{
  @apply font-extralight text-sm py-1
}

.title-presentation {
  color: #653F26;
}

.text-bege {
  color: #776B59;
}

/* custom bg */

.custom-hero-bg {
  background-image: url('/hero.jpeg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.bg-presentation {
  background-color: #071323;
}

/* Masonry layout */

.break-inside-avoid {
  break-inside: avoid;
}